body {
  margin-right: 30px;
  margin-left: 20px;
  font-size: 16px;
}

nav {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #99FCFF;
  height: 35px;
  color: white;
}

h1 {
  margin: 0;
}

h3 {
   padding-top: 20px;
   text-align: center;
   font-size: 14px;
   font-weight: 100;
   color: white;
 }

h4 {
   text-align: center;
   color: gray;
   font-weight: lighter;
}
h5 {
   color: white;
   text-align: center;
   text-decoration: underline;
   padding-top: 20px;
}

footer {
   height: 200px;
   background-color: #538BA5;
}


.navbar-list-item {
  display: inline;
  list-style: none;
  position: relative;
  float: right;
  margin-right: 40px;
  padding-top: 8px;
  font-weight: 400;
}

.jumbotron {
  height: 500px;
  background-image: url("../../images/park.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.dog-info {
  display: inline-block;
  width: 33%;
}

.info-pics {
  border-radius: 50%;
  border-color: #538BA5;
  border-style: solid;
  border-width: 2.8px;
  height: 200px;
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.dog-info-p {
  text-align: center;
}

.btn {
  display: inline;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  color: #538BA5;
  background-color: white;
  border-style: solid;
  border-color: #538BA5;
  border-width: 2.8px;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.footer-logo {
  height: 30px;
  margin: 20px;
}

#dog-icon {
  position: absolute;
  width: 23.5px;
  height: 23.5px;
  padding-left: 15px;
  padding-top: 5px;
}

#jumbotron-h1 {
  text-align: center;
  padding-top: 30px;
  font-weight: 1;
}

#jumbotron-pic {
  border-radius: 50%;
  border-color: #538BA5;
  border-style: solid;
  border-width: 2.8px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
